@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300&family=Secular+One&family=VT323&family=Yuji+Boku&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    z-index: 1;
    width: 1000px;
    margin: auto;
    box-shadow: 0 0 20px #c699c6, 0 0 20px #c699c6, 0 0 300px #c699c6;
}   


header {
    height: 20vh;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    background-color: rgba(245, 110, 179, 80%);
}

.title-banner, .vs {
    font-size: 3.5rem;
    line-height: 1;
    padding: 10px 0;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #F9F7D9;
    text-shadow: 0 0 20px #7F167F, 0 0 20px #7F167F, 0 0 300px #7F167F; ;
}


.subtitle {
    color: #F9F7D9;
}
.description {
    font-size: 1.5rem;
    margin-top: 3px;
    color: #F9F7D9;
}


main {
    width: 1000px;
    height: 75vh;
    margin: 0 auto;
    text-align: center;
}

.round {
    height:8vh;
    background-color: rgba(185, 243, 252, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    width: 120px;
    height: 50px;
    padding: 3px;
    font-family: 'Secular One', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #3C79F5;
    color: white;
    border: 3px solid #2DCDDF;
    border-radius: 10px;
    transition: box-shadow 0.1s ease-in-out, color 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.start:hover {
    scale: 1.1;
    box-shadow: 0 0 10px #BDF2D5, 0 0 20px #BDF2D5, 0 0 30px #BDF2D5;
}

.round h1 {
    display: inline-block;
    font-size: 2.3rem;
    padding: 3px;
    margin: 5px;
    font-family: 'Secular One', sans-serif;
    color:#13005A;
}

.score-board {
    padding: 5px;
    height: 10vh;
    background-color: rgba(3, 201, 136, 90%);
}

.score-board h3 {
    font-size: 1.3rem;
    font-style: italic;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-score, .computer-score {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.player-score h4, .computer-score h4 {
    font-size: 1.3rem;
}

.player-score p, .computer-score p {
    font-size: 1.3rem;
    font-weight: bold;
}

/* avatars section start */
.player-avatar, .computer-avatar {
    width: 200px;
    height: 250px;
}

.player-hand, .computer-hand {
    width:150px;
    height: 150px;
    display: none;  
}

.avatars {
    height: 39vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(207, 255, 254, 50%);
}
    
.avatars .computer-avatar{
    background-image: url("https://media1.giphy.com/media/xV723nBI0NPa4V8kjg/giphy.gif?cid=ecf05e47sbvv633e91no51uajbk2l2rxfmlitzeia1ujsv8f&rid=giphy.gif&ct=s");
    background-size: 220px;
    background-position: center;
    background-repeat: no-repeat;
}

.avatars .player-avatar{
    background-image: url("https://media1.giphy.com/media/SwD8zjSqnkz7mv6PtR/giphy.gif?cid=790b761136704740194c668196176ac072e4effd45f3bbb0&rid=giphy.gif&ct=s");
    background-size: 300px;
    background-position: center;
    background-repeat: no-repeat;
}

.Rock {
    background-image: url("./images/rock2.png");
    display: block;
    background-size: 150px;
    background-position: center;
    display: block;
}

.Paper {
    background-image: url("./images/paper2.png");
    display: block;
    background-size: 150px;
    background-position: center;
    display: block;
}

.Scissors {
    background-image: url("./images/scissors2.png");
    display: block;
    background-size: 150px;
    background-position: center;
    display: block;
}





/* avatars section end */


/* styles buttons before click start */
.play-area {
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(249, 247, 217, 80%);
}

.player-buttons {
    margin-left: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.player-buttons button {
    width: 90px;
    height: 90px;
    font-size: 3.5rem;
    font-family: 'Yuji Boku', serif;
    color: black;
    text-shadow: 3px 3px 3px #c699c6;
    border: 1px solid #0A2647;
    border-radius: 50%;
}
.player-buttons div {
    transition: scale 0.1s ease-in-out;
}

.player-buttons div:hover {
    scale: 1.1;
}

.player-buttons #rock {
    background-image: url("./images/rock.png");
    background-size: 100px;
    background-position: center;
    transition: box-shadow 0.1s ease-in-out, color 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
}

.player-buttons #rock:hover {
    background-image: url("./images/rock2.png");
    color: transparent;
    text-shadow: none;
    box-shadow: 0 0 10px #CB1C8D, 0 0 20px #CB1C8D, 0 0 30px #CB1C8D;
}

.player-buttons #paper {
    background-image: url("./images/paper.png");
    background-size: 100px;
    background-position: center;
    transition: box-shadow 0.1s ease-in-out, color 0.1s ease-in-out, text-shadow 0.1s ease-in-out; 
}

.player-buttons #paper:hover {
    background-image: url("./images/paper2.png");
    color: transparent;
    text-shadow: none;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

.player-buttons #scissors{
    background-image: url("./images/scissors.png");
    background-size: 100px;
    background-position: center;
    transition: box-shadow 0.1s ease-in-out, color 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
}

.player-buttons #scissors:hover {
    background-image: url("./images/scissors2.png");
    color: transparent;
    text-shadow: none;
    box-shadow: 0 0 10px #00E7FF, 0 0 20px #00E7FF, 0 0 30px #00E7FF;
}

.player-buttons p {
    font-weight: bold;
}
/* styles buttons before click end */


/* button styling when clicked  start*/
#rock.clicked {
    filter: saturate(300%);
    background-image: url("./images/rock2.png");
    color: transparent;
    text-shadow: none;
    box-shadow: 0 0 10px #CB1C8D, 0 0 20px #CB1C8D, 0 0 30px #CB1C8D;
}

#paper.clicked {
    filter: saturate(300%);
    background-image: url("./images/paper2.png");
    color: transparent;
    text-shadow: none;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

#scissors.clicked {
    filter: saturate(300%);
    background-image: url("./images/scissors2.png");
    color: transparent;
    text-shadow: none;
    box-shadow: 0 0 10px #00E7FF, 0 0 20px #00E7FF, 0 0 30px #00E7FF;
}

/* button styling when clicked  end*/


.lock, .reset {
    width: 120px;
    height: 55px;
    padding: 5px 5px;
    font-family: 'Secular One', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #379237;
    color: white;
    border: 5px solid #54B435;
    border-radius: 10px;
    transition: box-shadow 0.1s ease-in-out, color 0.1s ease-in-out, scale 0.1s ease-in-out;

}

.lock:hover, .reset:hover {
    scale: 1.1;
    box-shadow: 0 0 10px #BDF2D5, 0 0 20px #BDF2D5, 0 0 30px #BDF2D5;
}


.computer-dialogue {
    width: 400px;
    margin-right: 30px;
    display: flex;
    gap: 20px;
}


.dialogue {
    width: 300px;
    word-wrap: break-word;
    border: 5px solid #93C6E7;
    background-color: #B9F3FC ;
    display: flex;
    align-items: center;
}

.dialogue p {
    width: 280px;
    font-size: 2.2rem;
    margin: 5px;
    font-family: 'VT323', monospace;
}

.face {
    width: 90px;
    height: 90px;
    border: 5px solid #93C6E7;
    background-color: #B9F3FC ;
    /* background-image: url("./images/comp-face.png"); */
    background-image: url("https://media1.giphy.com/media/xV723nBI0NPa4V8kjg/giphy.gif?cid=ecf05e47sbvv633e91no51uajbk2l2rxfmlitzeia1ujsv8f&rid=giphy.gif&ct=s");
    background-size: 200px;
    background-position:40% 12%;
    background-repeat: no-repeat;

}

footer {
    height: 5vh;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    background-color: #2E0249;
}

footer p {
    padding: 6px;
    color: #F9F7D9;
}

body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("./images/scene.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
}