@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yuji+Boku&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* body {
    z-index: 1;
    width: 1000px;
    background-color: purple;
    margin: auto;
}    */



header {
    height: 23vh;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    background-color: #D527B7;
}

.title-banner {
    font-size: 4rem;
    line-height: 1;
    padding-top: 10px;
}

.subtitle {
    margin-bottom: 10px;
}
.game-mode {
    font-size: 1.5rem;
    margin-top: 3px;
}

.start {
    font-size: 1.5rem;
    padding: 5px;
    margin: 10px;
}


main {
    width: 1000px;
    height: 72vh;
    margin: 0 auto;
    text-align: center;
}

.round {
    height:8vh;
    background-color: #FFC46B;
}

.round h1 {
    display: inline-block;
    font-size: 2.3rem;
    padding: 3px;
    margin: 5px;
}

.score-board {
    padding: 5px;
    height: 10vh;
    background-color: #8A00D4;
}

.score-board h3 {
    font-size: 1.3rem;
    font-style: italic;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-score, .computer-score {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.player-score h4, .computer-score h4 {
    font-size: 1.3rem;
}

.player-score p, .computer-score p {
    font-size: 1.3rem;
    font-weight: bold;
}




.player-avatar, .computer-avatar {
    width: 200px;
    height: 250px;
}

.player-hand, .computer-hand {
    width:150px;
    height: 150px;
}

.avatars {
    height: 37vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(207, 255, 254, 50%);
}
    

.play-area {
    height: 17vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(249, 247, 217, 80%);
}

.player-buttons {
    margin-left: 30px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.player-buttons button {
    width: 90px;
    height: 90px;
    font-size: 3.5rem;
    font-family: 'Yuji Boku', serif;
    color: black;
    text-shadow: 3px 3px 3px #c699c6;
}


.player-buttons #rock {
    background-image: url("./images/rock.png");
    background-size: cover;
    /* opacity: 50%; */
}

.player-buttons #paper {
    background-image: url("./images/paper.png");
    background-size: cover;
    /* opacity: 50%; */ 
}

.player-buttons #scissors{
    background-image: url("./images/scissors.png");
    background-size: cover;
    /* opacity: 50%; */
}

.player-buttons p {
    font-weight: bold;
}




.clicked {
    filter: brightness(80%);
    color: red;
}


.lock {
    width: 100px;
    height: 40px;
    padding: 10px 5px;
}

.reset {
    width: 120px;
    height: 40px;
    padding: 10px 5px;
}


.computer-dialogue {
    width: 350px;
    margin-right: 30px;
    display: flex;
    gap: 20px;
}
.face {
    width: 90px;
    height: 90px;
}

.dialogue {
    width: 250px;
    word-wrap: break-word;
}

.dialogue p {
    width: 240px;
    font-size: 1.3rem;
    margin: 5px;
}


footer {
    height: 5vh;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    background-color: #2E0249;
}

footer p {
    padding: 6px;
    color: #F9F7D9;
}

body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("./images/scene.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
}